@weatherIconPath: "https://developer.accuweather.com/sites/default/files/";

.weatherApp {
  background: radial-gradient(circle at 50% 120%, #00B2E9 0%, #004380 75%) no-repeat;
  color: white;
  font-family: 'Tahoma', sans-serif;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fa {
  cursor: pointer;
}

.weatherIcon {
  width: 75px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
}

@iterations: 44;
.weatherIcon10-44 (@i) when (@i > 9) {
  .weatherIcon-@{i} {
    background-image: url("@{weatherIconPath}@{i}-s.png");
  }
  .weatherIcon10-44(@i - 1);
}

.weatherIcon10-44(@iterations);
.weatherIcon1-9 (@i) when (@i > 0) {
  .weatherIcon-@{i} {
    background-image: url("@{weatherIconPath}0@{i}-s.png");
  }
  .weatherIcon1-9(@i - 1);
}

.weatherIcon1-9(9);

#forecastContainer {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  #currentCity {
    width: 50%;

    #cityForm {
      display: flex;
      margin: 10px;
      margin-top: 30px;
      border-radius: 30px;
      border: 1px solid #dcdcdc;
      justify-content: center;
      width: 95%;

      .cityInput {
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-size: 15px;
        margin: 2px;
        padding: 5px;
        border-radius: 30px;
        background-color: transparent;

        &#cityName {
          margin-left: 10px;
          width: 98%;
          outline: none;
          background-color: transparent;
          border: none;
        }

        &#getCity {
          cursor: pointer;
          border: 1px solid #dcdcdc;
        }
      }
    }

    #todayForecast {
      .todayInfo {
        width: 90%;
        margin: 0 auto;
        .dayTemperature {
          font-size: 60px;
        }
        .weatherContainer {
          width: 50%;
          padding: 10%;
          align-self: stretch;
          position: relative;
          .weatherIcon {
            width: 85%;
            height: 70%;
            position: absolute;
            top: 15%;
            left: 25%;
          }
        }

      }
    }

    .hourlyForecasts12 {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
      border-radius: 30px;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0);
      }

      .hourForeCast {
        display: flex;
        flex-direction: column;
        align-items: center;

        .hourForeCast-element {
          margin-bottom: 10px;
        }

        .temperatureGrpahic {
          height: 30px;

          .currentTemperatureHeight {
            position: relative;
            width: 5px;
            height: 5px;
            background-color: white;
            border-radius: 5px;
            top: 0%;
          }
        }
      }
    }

    .weeklyForecasts {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
      border-radius: 30px;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .dayForeCast {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dayWeek {
          margin-left: 2%;
        }

        .dayStats {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .weatherDayNight {
            display: flex;
          }

          .maxTminT {
            display: flex;

            .maxTemp {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  #cityList {
    width: 50%;
    margin-top: 30px;

    .cityInfo {
      width: 90%;
      //background-color: #0d224280;
      display: flex;
      border-radius: 30px;
      padding: 15px;
      flex-direction: column;
      margin: 5px;

      .nextDays {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1px solid;

        .oneDayAfter {
          margin-top: 10px;

          .dayAfterInfo {
            display: flex;
            flex-direction: column;

            .weekDay {
              text-align: center;
              color: #5cbcc1;
            }

            .nextDaysTemperatures {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;

              .tempMin {
                color: #687488;
              }
            }
          }
        }
      }
    }
  }

  .todayInfo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    .todayInfoLeft {
      display: flex;
      flex-direction: column;

      .dayTemperature {
        font-size: 40px;
        margin-bottom: 7px;
      }

      .cityAndState {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .cityName {
          padding-right: 5px;
          border-right: 1px solid white;
          color: #5cbcc1;
        }

        .stateName {
          padding-left: 5px;
          color: #687488;
        }

        .favorite {
          padding: 5%;
        }
      }

      .maxTminTHumidity {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 12px;
        margin-bottom: 10px;

        .tempMax {
          margin-right: 10px;
        }

        .tempMin {
          margin-right: 10px;
          color: #687488;
        }

        .humidity {
          color: #5794c5;
        }
      }
    }
  }
}

.gradient-background {
  background: linear-gradient(40deg, #00b2e9, #004380);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  #forecastContainer {
    #currentCity {
      width: 100%;
    }

    #cityList {
      width: 100%;
      display: none;

      #cityInfo {
        width: 80%;
      }
    }
  }
}
